p {
  margin: 0px;
}
.tahoma {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}
.deals-header {
  font-weight: bold;
  font-family: arial;
  font-size: 20px;
  margin-bottom: 3px;
}
.deals-description {
  color: red;
  font-style: italic;
  margin-bottom: 50px;
}
.course-header {
  font-size: 17px;
  font-weight: bold;
  font-family: arial;
  margin-bottom: 3px;
}
.course-subtitle {
  color: gray;
  font-family: arial;
  font-size: 15px;
  margin-bottom: 10px;
}
.course-description {
  font-family: arial;
  font-size: 15px;
  margin-bottom: 7px;
}
.course-button {
  background-color: green;
  color: white;
  border-radius: 5px;
  border: none;
  padding-inline: 20px;
  padding-block: 9px;
  margin-bottom: 50px;
}
.shop-header {
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.shop-description {
  font-family: arial;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}
.shop-link-more {
  font-family: arial;
  font-size: 12px;
  text-align: center;
  color: blue;
  margin-bottom: 50px;
}